.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    text-align: center;
    border-top: 2px solid #8aa01f; 
}

.footer p {
    margin: 0;
}
