nav {
    background-color: #333;
    padding: 10px 20px;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    margin-right: 20px;
}

.navbar__item a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar__item a:hover {
    color: #9aa73d; 
}

@media (max-width: 768px) {
    .navbar__list {
        flex-direction: column;
        align-items: center;
    }

    .navbar__item {
        margin: 10px 0;
    }
}
